.header {
  width: 100%;
  height: 7vh;
  background: rgb(131, 129, 129);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.body {
  margin: 0px;
}
.company {
  margin-left: 5%;
  font-size: 50px;
  font-family: "Permanent Marker", cursive;
}

.links {
  margin-right: 5%;
  list-style: none;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  font-family: "Permanent Marker", cursive;
}

.black-section {
  font-family: "Anton", sans-serif;
  display: flex;
  color: yellow;
  font-weight: 900;
  font-size: 70px;
  width: 100%;
  height: 50vh;
  background: black;
  justify-content: center;
  align-items: center;
}

.three-boxes {
  display: flex;
  width: 100%;
  height: 35vh;
}

.left-box-mid {
  width: 20%;
  height: 30vh;
  background: rgb(127, 255, 212);
  position: absolute;
  border-radius: 25px;
  margin-left: 4%;
  margin-top: 3.25%;
}

.mid-box-mid {
  width: 20%;
  height: 30vh;
  background: rgb(127, 255, 212);
  position: absolute;
  border-radius: 25px;
  margin-left: 39.5%;
  margin-top: 3.25%;
}

.right-box-mid {
  width: 20%;
  height: 30vh;
  background: rgb(127, 255, 212);
  position: absolute;
  border-radius: 25px;
  margin-left: 74%;
  margin-top: 3.25%;
}

.two-boxes {
  display: flex;
  width: 100%;
  height: 35vh;
}

.left-box {
  width: 44%;
  height: 30vh;
  background: rgb(236, 184, 87);
  margin-top: 3%;
  margin-left: 4%;
}

.right-box {
  width: 42%;
  height: 30vh;
  background: rgb(236, 184, 87);
  margin-top: 3%;
  margin-left: 5%;
  font-family: "Pacifico", cursive;
  font-family: "Pacifico", cursive;
}

.aside {
  display: flex;
  width: 100%;
  height: 30vh;
}

.text {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  margin-left: 13%;
  margin-top: 2.5%;
}

.josh {
  height: 18vh;
  display: flex;
  position: absolute;
  width: 10%;
  margin-left: 71%;
  margin-top: 3%;
  display: flex;
  flex-direction: column-reverse;
  background-size: cover;
  background-image: url("./mccann.jpeg");
}

.bryan {
  height: 18vh;
  display: flex;
  position: absolute;
  width: 10%;
  margin-left: 82%;
  margin-top: 3%;
  display: flex;
  flex-direction: column-reverse;
  background-size: cover;
  background-image: url("./bryan.jpeg");
}

.matias {
  height: 18vh;
  display: flex;
  position: absolute;
  width: 10%;
  margin-left: 60%;
  margin-top: 3%;
  display: flex;
  flex-direction: column-reverse;
  background-size: cover;
  background-image: url("./mat.jpeg");
}

.footer {
  width: 100%;
  height: 10vh;
  background: rgb(79, 79, 100);
}
